// #ED1C24 //
// #4B4B4B //
// #E8E8E8 //
// #343A40 //

@font-face {
font-family: Oswald;
src:url(https://fonts.googleapis.com/css2?family=Oswald&display=swap);
}

body {
font-family: 'Oswald', sans-serif;
font-size: 100%;
display: flex;
background-color: #E8E8E8;
}

div, section, span, ul, li, a, header{
  box-sizing: border-box;
}

nav ul  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 30px;
  margin-left: auto;
}

nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: center;
  }

  li {
    display: inline-block;
    float: left;
    padding: 8px;
  }

li a{
    display: block;
    color:#4B4B4B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

  li a:hover{
    color: #ED1C24;
    text-decoration: underline;
  }

header {

}
