// #ED1C24 //
// #4B4B4B //
// #E8E8E8 //
// #343A40 //

@font-face {
font-family: Oswald;
src:url(https://fonts.googleapis.com/css2?family=Oswald&display=swap);
}

body {
font-family: 'Oswald', sans-serif;
font-size: 100%;
background-color: #E8E8E8;
}

div, section, span, ul, li, a, header{
  box-sizing: border-box;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 25px;
  margin-left: auto;

}

#basenav{
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  li {
    display: inline-block;
    float: left;
    padding: 8px;
  }

li a{
    display: block;
    color:#4B4B4B;
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;

}

  li a:hover{
    color: #ED1C24;
    text-decoration: underline;
  }

 section {
  display:block;
  width: 100%;
}

#logo{
  width: 200px;
  height: 100px;
  padding: -100px;
  background-image: url(img/logo_big.png);
  background-repeat: no-repeat;
}

header {

}

#home{

}

#about_me{
  display: flex;

}

#cases{

}

#contact{

}

.div {
clear: both;
}

#frontpage{
  width: 1700px;
  height: 1000px;
  position: relative;

}
.welcome{
  position: relative;
  font-size: 40px;
  color: #ED1C24;
  margin: 110px;
}

about_me_text{

}
